<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
 
    <label for="thumbnail">thumbnail:</label>
    <input type="file" name="thumbnail"><br><br>

    <label for="photos">photos:</label>
    <input type="file" name="photos"><br><br>

    <label for="description">description:</label>
    <input type="text" name="description"><br><br>

    <label for="views">views:</label>
    <input type="text" name="views"><br><br>

    <label for="channel">channel:</label>
    <input type="text" name="channel"><br><br>

    <label for="uploaded">uploaded:</label>
    <input type="text" name="uploaded"><br><br>

 
    <input type="submit" value="submit" ><br><br>
    
    </form>

</body>
</html>