<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <label for="Name">Enter your Name</label>
      <input type="text" name="Name"><br><br>

      <label for="Email_ID">Enter Your Email_ID</label>
      <input type="text" name="Email_ID"><br><br>

      <label for="Password">Create Password</label>
      <input type="text" name="Password"><br><br>
      
      <input type="submit" value="submit">
    </form>
  </body>
</html>